#gameSVG {
    width: 600px;
    height: 600px;
}

.grid {
    stroke: darkgrey;
    stroke-width: 1px;
}

.pawn1 {
    fill: darkred;
    stroke: none;
}

.pawn2 {
    fill: darkblue;
    stroke: none;
}

.square {
    stroke: darkgrey;
    stroke-width: 1px;
    fill: none;
}

#hoveredWall {
    fill: #797979;
}

.potentialPawn {
    fill: #a298cb;
}

.gap {
    fill: transparent;
}

.wall, .miniSquare {
    fill: #5d5d5d;
}


.route {
    fill: #8b6158;
    opacity: 0.2;
}